* {
    box-sizing: border-box;
}

.annotation-bg {
    height: 55vh;
    background-image: url('../img/bg-annotation.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.p-10 {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}

.bgColor-FFD504 {
    background-color: #FFD504;
}

.w-18 {
    width: 18px!important;
}

.h-18 {
    height: 18px!important;
}

.mn-5 {
    margin-top: -5px!important;
}

.fs-14 {
    font-size: 14px;
}

.color-a2a2a2 {
    color: #a2a2a2;
}

.pb-10 {
    padding-bottom: 10px;
}

.p-48 {
    padding: 48px 0px;
}

.px-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.h-25vh {
    height: 25vh;
}

.px-8 {
    padding-top: 8px;
}