* {
    box-sizing: border-box;
}

.btnAcc {
    width: 100%;
    font-size: 15px;
    text-align: left;
    border: none;
    background: none;
    outline: none;
    transition: .5s all linear;
}

.btnAcc:focus {
    outline: none;
}

.btnAcc:hover {
    cursor: pointer;
}

.btnAcc.active {}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.text {
    padding-right: 30px;
    color: #5D6A81;
    line-height: 24px;
    font-style: oblique;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.text.show {
    max-height: 120px;
    transition: max-height .5s;
}

.text p {
    margin-top: 10px;
}

.bgColor-bcbdbf {
    background: #bcbdbf;
}

.float-right {
    float: right;
}

.color-040F23 {
    color: #040F23!important;
}

.fs-15 {
    font-size: 15px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fw-500 {
    font-weight: 500;
}

.pb-70 {
    padding-bottom: 70px;
}

.bg-F9FAFD {
    background: #F9FAFD;
}

.borderRadius-12 {
    border-radius: 12px;
}

.p-56 {
    padding: 30px 56px;
}

.bg-FFD504 {
    background: #FFD504;
}

.p-1632 {
    padding: 10px 32px;
}

.p-4530 {
    padding-top: 45px;
    padding-bottom: 30px;
}

.borderRadius-62 {
    border-radius: 62px;
}

.text-capitalize {
    text-transform: capitalize;
}

.color-616875 {
    color: #616875;
}

.lh-24 {
    line-height: 24px;
}

.lh-26 {
    line-height: 26px;
}

.pb-35 {
    padding-bottom: 35px;
}

.p-6452 {
    padding-top: 64px;
    padding-bottom: 52px;
}

.bg-EDF0FA {
    background-color: #EDF0FA;
}

.p-10 {
    padding: 10px 0px;
}

.pb-10 {
    padding-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.m-2515 {
    margin-top: 25px;
    margin-bottom: 15px;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.bg-FAFAFE {
    background-color: #FAFAFE;
}

.color-717988 {
    color: #717988;
}

.text-lower {
    text-transform: lowercase;
}

.px-70 {
    padding: 0px 70px;
}

.bg-gradient {
    background: radial-gradient(118.49% 193.74% at 108.77% -23.6%, #3787FF 0%, #6562FF 100%)!important;
}

.border-none {
    border: none!important;
}

.border-rgba125 {
    border: 1px solid rgba(0, 0, 0, .125)!important;
}

.pos-relative {
    position: relative;
}

.best-seller {
    width: 30%;
    text-align: center;
    position: absolute;
    top: 0;
    transform: translate(100%, -50%);
    background: #ffffff;
    border: 1px solid #E1E2ED;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 14px;
    line-height: 40px;
    font-weight: 500;
}

@media screen and (max-width: 1025px) {
    .mb-md-35 {
        margin-bottom: 35px;
    }
}